Exercise 1: List Manipulation

a) Create a list with the following elements: 4, 7, 12, 27, 31, 42

b) Add the element 9 to the end of the list

c) Remove the last element of the list

d) Remove the first element of the list

e) Sort the list in ascending order

f) Reverse the order of the list

g) Insert the element 15 at index 3

h) Print the list

# create my_list

In [ ]:
my_list=[4, 7, 12, 27, 31, 42]
print(my_list)

[4, 7, 12, 27, 31, 42]

# Add the element 9 to the end of the list

In [ ]:
my_list.append(9)
print(my_list)

[4, 7, 12, 27, 31, 42, 9]

# remove the last element

In [ ]:
my_list.pop(6)
print(my_list)

[4, 7, 12, 27, 31, 42]

# remove the first list

In [ ]:
my_list.pop(0)
print(my_list)

[7, 12, 27, 31, 42]

# sort the list in ascendnding order

In [ ]:
my_list.sort()
print(my_list)

[7, 12, 27, 31, 42]

# reverse the list

In [ ]:
my_list.reverse()
print(my_list)

[42, 31, 27, 12, 7]

# Insert the element 15 at index 3

In [ ]:
my_list.insert(3, 15)
print(my_list)

[42, 31, 27, 15, 12, 7]

## list manipulation

In [ ]:
my_list=[4, 7, 12, 27, 31, 42]
my_list.append(9)
my_list.pop(6)
my_list.pop(0)
my_list.sort()
my_list.reverse()
my_list.insert(3, 15)
print(my_list)

[42, 31, 27, 15, 12, 7]

Exercise 2: Dictionary Manipulation
    
a) Create a dictionary with the following key-value pairs: "one": 1, "two": 2, "three": 3, "four": 4

b) Access the value associated with the key "two"

c) Update the value associated with the key "one" to 11

d) Remove the key-value pair with the key "three"

e) Print the dictionary keys

f) Print the dictionary values

# create my_dict

In [ ]:
my_dict={
    "one":1,
    "two":2,
    "three":3,
    "four":4
}
print(my_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

## Access the value associated with the key "two"

In [ ]:
value_two=my_dict["two"]
print(value_two)

2

# Update the value associated with the key "one" to 11

In [ ]:
my_dict["one"]=11
print(my_dict)

{'one': 11, 'two': 2, 'three': 3, 'four': 4}

# Remove the key-value pair with the key "three"

In [ ]:
my_dict.pop("three")
print(my_dict)

{'one': 11, 'two': 2, 'four': 4}

Exercise 3: Tuple Manipulation

a) Create a tuple with the following elements: 5, 10, 15, 20, 25, 30

b) Access the element at index 2

c) Count the occurrences of 15 in the tuple

d) Find the index of the element 25 in the tuple

In [ ]:
my_tuple=(5, 10, 15, 20, 25, 30)
print(my_tuple)

(5, 10, 15, 20, 25, 30)

# Access the element at index 2

In [ ]:
index=my_tuple[2]
print(index)

15

# Count the occurrences of 15 in the tuple

In [ ]:
count=my_tuple.count(15)
print(count)

1

# Find the index of the element 25 in the tuple

In [ ]:
index=my_tuple.index(25)
print(index)

4

Exercise 4: Set Manipulation

a) Create a set with the following elements: 2, 4, 6, 8, 10

b) Add the element 12 to the set

c) Remove the element 4 from the set

d) Check if the element 6 is in the set

e) Print the set

# create a set

In [ ]:
my_set={2, 4, 6, 8, 10}
print(my_set)

{2, 4, 6, 8, 10}

# Add the element 12 to the set

In [ ]:
my_set.add(12)
print(my_set)

{2, 4, 6, 8, 10, 12}

# Remove the element 4 from the set

In [ ]:
my_set.remove(4)
print(my_set)

{2, 6, 8, 10, 12}

# Check if the element 6 is in the set

In [ ]:
check=6 in my_set
print(check)

True

Exercise 5: Converting a list to a set

a) Create a list with the following elements: 3, 5, 7, 9, 11, 13, 15, 15, 13, 11, 9, 7, 5, 3

b) Convert the list to a set and print it

In [ ]:
list=[3, 5, 7, 9, 11, 13, 15, 15, 13, 11, 9, 7, 5, 3]
print(list)

[3, 5, 7, 9, 11, 13, 15, 15, 13, 11, 9, 7, 5, 3]

In [ ]:
type(list)

list

In [ ]:
your_set=set(list)
print(your_set)

{3, 5, 7, 9, 11, 13, 15}

Exercise 6: List slicing

a) Create a list with the following elements: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10

b) Print the list from index 2 to 6 (inclusive)

c) Print the list from index 4 to the end

d) Print the first 3 elements of the list

e) Print the list in reverse order

# creat list slicing

In [ ]:
your_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(your_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Print the list from index 2 to 6 (inclusive)

In [ ]:
indexes=your_list[1:6]
print(indexes)

[2, 3, 4, 5, 6]

# Print the list from index 4 to the end

In [ ]:
index=your_list[4:]
print(index)

[5, 6, 7, 8, 9, 10]

# Print the first 3 elements of the list(plz check it carefully sir)

In [ ]:
elements=your_list[:3]
print(elements)

[1, 2, 3]

# ) Print the list in reverse order

In [ ]:
reversed_list = your_list[::-1]
print("your_List in reverse order:", reversed_list)

your_List in reverse order: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]